{% extends 'base.html.twig' %}

{% block title %}{{'leave_request.new'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'leave_request.new'|trans }}</h1>

    {{ include('leave_request/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('leave_request_index') }}">{{ 'button.back'|trans }}</a>
{% endblock %}
